*{
    margin: 0;
    padding: 0;  
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: paleturquoise;
    width: auto;
}

#cuerpo{
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* width: min(50em, 100%); */
    width: 100%;
    margin: 1em auto;
    padding: 2em 2em;
}

.encabezado{
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 2em 2em;
}

.piepagina{
    background-color: lawngreen;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    margin: 1em auto;
    padding: 2em 2em;
}

h1{
    font-size: 35px;
    text-align: center;
}

.encabezado h1{
    font-size: 45px;
    text-align: center;
    color: white;
}

h2{
    font-size: 35px;
    text-align: center;
}

.piepagina h2{
    font-size: 35px;
    text-align: center;
    color: black;
}

.lab{
    font-size: 35px;
    text-align: center;
    margin: 2em 0.75em;
}

input{
    font-size: 15px;
    height: 35px;
    width: 120px;
    text-align: center;
    margin: 0.5em 0.5em;
}

p{
    font-size: 40px;
    text-align: center;
}

button{
    width: 85px;
    width: 200px;
    font-size: 1.5em;
    margin-top: 1em;
    text-align: center;
    margin: 0.5em 0.5em;
}

select{
    height: 45px;
    width: 220px;;
    font-size: 15px;
    text-align: center;
    margin: 0.5em 0.5em;
}